<div class="container">

    <form class="well form-horizontal" action=" " method="post" id="" action="/createcategory">
        <fieldset>

            <!-- Form Name -->
            <legend>
                <center>
                    <h2><b> Add a Class Category</b></h2>
                </center>
            </legend><br>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">CLASS NAME</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="name" placeholder="category Name" value="" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Select Basic -->


            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"><br>
                    <button type="submit" class="btn btn-warning">SUBMIT <span
                            class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
</div><!-- /.container -->